<h1> {{ 'Hello!' }} </h1>
<h2> {{ 'Please enter your Summoner Name and your Tagline below!' }} </h2>
<p> {{baitpings}}</p>

<h2> Ally Team</h2>

<form action="/playerstats" method="POST">
    <p> Summoner Name: {{player1}}</p>
    <input type="submit" name="{{matchid}},{{player1}}" value="See Stats"><br>
</form>

<form action="/playerstats" method="POST">
    <p> Summoner Name: {{player2}}</p>
    <input type="submit" name= "{{matchid}},{{player2}}" value="See Stats"><br>
</form>

<form action="/playerstats" method="POST">
    <p> Summoner Name: {{player3}}</p>
    <input type="submit" name="{{matchid}},{{player3}}" value="See Stats"><br>
</form>

<form action="/playerstats" method="POST">
    <p> Summoner Name: {{player4}}</p>
    <input type="submit" name="{{matchid}},{{player4}}" value="See Stats"><br>
</form>

<form action="/playerstats" method="POST">
    <p> Summoner Name: {{player5}}</p>
    <input type="submit" name="{{matchid}},{{player5}}" value="See Stats"><br>
</form>

<h2> Enemy Team</h2>

<form action="/playerstats" method="POST">
    <p> Summoner Name: {{player6}}</p>
    <input type="submit" name="{{matchid}},{{player6}}" value="See Stats"><br>
</form>

<form action="/playerstats" method="POST">
    <p> Summoner Name: {{player7}}</p>
    <input type="submit" name="{{matchid}},{{player7}}" value="See Stats"><br>
</form>

<form action="/playerstats" method="POST">
    <p> Summoner Name: {{player8}}</p>
    <input type="submit" name="{{matchid}},{{player8}}" value="See Stats"><br>
</form>

<form action="/playerstats" method="POST">
    <p> Summoner Name: {{player9}}</p>
    <input type="submit" name="{{matchid}},{{player9}}" value="See Stats"><br>
</form>

<form action="/playerstats" method="POST">
    <p> Summoner Name: {{player10}}</p>
    <input type="submit" name="{{matchid}},{{player10}}" value="See Stats"><br>
</form>