<h1> {{ 'Hello!' }} </h1>
<h2> {{ 'Your matches are below.' }} </h2>

<form action="/match1" method="POST">
    <p> The Match ID is {{match1}}</p>
    <input type="submit" name={{match1}} value= "See Your Stats for Your Most Recent Match"><br>
</form>

<form action="/match1" method="POST">
    <p> The Match ID is {{match2}}</p>
    <input type="submit" name={{match2}} value="See Your Stats for Your Second Most Recent Match"><br>
</form>
<form action="/match1" method="POST">
    <p> The Match ID is {{match3}}</p>
    <input type="submit" name={{match3}} value="See Your Stats for Your Third Most Recent Match"><br>
</form>

<form action="/match1" method="POST">
    <p> The Match ID is {{match4}}</p>
    <input type="submit" name={{match4}} value="See Your Stats for Your Fourth Most Recent Match"><br>
</form>

<form action="/match1" method="POST">
    <p> The Match ID is {{match5}}</p>
    <input type="submit" name={{match5}} value="See Your Stats for Your Fifth Most Recent Match"><br>
</form>