<!-- Display different Statistics From the Player's Indicated Match-->
<h1> {{summonername}}</h1>
<h2> Champion Name: {{championName}} </h2>
<h2> Kills: {{kills}} </h2>
<h2> Deaths: {{deaths}} </h2>
<h2> Assists: {{assists}} </h2>
<h2> Vision Score: {{visionScore}} </h2>
<h2> Total Damage: {{totaldamage}} </h2>
<h2> Total Objective Damage: {{ObjectiveDamage}} </h2>
<h2> Total Turret Damage: {{TurretDamage}} </h2>
<h2> Total Gold Earned: {{goldEarned}} </h2>
<h2> Pink Wards Bought: {{pinkWards}} </h2>
<h2> Total Damage to Champions: {{TotalDamagetoChampions}} </h2>
<h2> Creep Score: {{CreepScore}} </h2>
<h2> Time Spent Dead: {{timeSpentDead}} </h2>
<h2> Total Turrets Killed: {{turretTakedowns}} </h2>
<h2> Bait Pings Used: {{baitPings}}</h2>

<!-- Indicate new section-->
<h2> Return To Home</h2>
<!-- Give the user an option to return to the index page with a button-->
<form action="/">
    <p> Find the Games of a Different Summoner! </p>
    <button> Return to Home Page </button>
</form>